/* You can add global styles to this file, and also import other style files */
@import "~angular-tree-component/dist/angular-tree-component.css";
// @import "~ngx-toastr/toastr.css";
// @import "~ngx-toastr/toastr-bs4-alert";
html,
body {
  height: 100%;
  margin: 0px;
  background-color: #f6f6f6;
}
.node-content-wrapper {
  width: 100%;
}
.ngx-contextmenu {
  .dropdown-menu {
    background-color: #e8e8e8
  }
  h6, small {
    color: black;
  }
  li {
    // text-align: center;
  }
  .context-menu-content {
    margin-left: 10px;
    margin-right: 10px;
  }
}
tree-viewport {
  -webkit-tap-highlight-color: transparent;
  height: auto;
  width: 100%;
  overflow: unset;
  display: inline-block;
}