<div class="sidebar">
  <!-- <ng-container *ngIf="auth">
    <ul>
      <li style="cursor: pointer;" [routerLink]="['Register']">
        Registration
      </li>
      <li style="cursor: pointer;" [routerLink]="['Assignment']">
        Assignment
      </li>
    </ul>
  </ng-container> -->
</div>