<ng-container *ngIf="nodes">
  <!-- <Tree #tree [nodes]="nodes.current" [options]="options">
      <ng-template #treeNodeTemplate let-node let-i="index">
          <div class="node-content">{{node.displayField}}</div>
      </ng-template>
  </Tree> -->
  <form>
    <ng-template ngFor let-node [ngForOf]="nodes.current" let-i="index">
      <div class="col-lg-8 my-1">
        <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="material-icons user-assign" (click)="onOpenModal(template,node)">account_box</i>
            </div>
          </div>
          <span type="text" class="form-control" id="inlineFormInputGroupUsername">{{node.nm}}</span>
        </div>
      </div>
    </ng-template>
  </form>
</ng-container>

<!-- <button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button> -->

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Assignment</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <td>Users</td>
          <td>Assigned</td>
        </tr>
      </thead>
      <tbody>
        <!-- <ng-template ngFor let-user [ngForOf]="users"> -->
          <tr *ngFor="let user of users">
            <td>{{user.username}}</td>
            <td>
              <input type="checkbox" [(ngModel)]="user.flag" (change)="onCheck(user)">
            </td>
          </tr>
        <!-- </ng-template> -->
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="onUpdate()">Save</button>
  </div>
</ng-template>
