<div class="navbarx">
  <span class="logo">workflowy</span>
  <span class="search">
    <input class="form-control" type="text" placeholder="Search">
  </span>
  <!-- <div class="triangle-down"> -->
</div>