.navbarx {
    background-color: #3c3c3c;
    height: 29px;
    span {
        color: white;
        margin-left: 20px;
    }
    .search {
        width: 200px;
        height: 22px;
        display: inline-block;
        // margin-top: 1px;
        // background-color: #666;
        input {
            margin-top: 3px;
            height: 100%;
            background-color: #f6f6f6;
            font-size: 12px;
        }
    }
    .triangle-down {
        width: 5px;
        height: 5px;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 100px solid white;
    }
}
