<div class="login-form">
  <div class="row">
    <div class="col-lg-2">
      <label for="uname"><b>Username: </b></label>
    </div>
    <div class="col-lg-10">
      <input type="text" [(ngModel)]="username" name="uname">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <label for="uname"><b>Password: </b></label>
    </div>
    <div class="col-lg-10">
      <input type="text" [(ngModel)]="password">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <button class="btn-primary" (click)="onLogin()">Login</button>
    </div>
    <div class="col-lg-12">
      <span class="toastr"><b>{{message}}</b></span>
    </div>
  </div>
</div>