<ng-container *ngIf="nodes">
    <Tree #tree [nodes]="nodes.current" [options]="options" (moveNode)="onMove()" (stateChange)="onStateChange($event)">
        <ng-template #treeNodeTemplate let-node let-i="index">
            <div class="project">
                <div class="project-line">
                    <span class="circle" (click)="onOptions(node)">
                        <div class="options" *ngIf="node.data.flags.over" (mouseleave)="onLeave(node)">
                            <div (click)="onComplete(node)"><small>Complete</small></div>
                            <div *ngIf="!node.data.no" (click)="node.data.flags.no_checked = true">
                                <small>Add Note</small>
                            </div>
                            <div><small>Duplicate</small></div>
                            <div class="options-line"></div>
                            <div><small>Share</small></div>
                            <div><small>Export</small></div>
                            <div class="options-line"></div>
                            <div><small>Delete</small></div>
                        </div>
                    </span>
                    <input type="text" [ngClass]="node.data.id" [(ngModel)]="node.displayField" (change)="onEdit($event,node,'nm')" (keydown)="onKey($event,node)">
                    <div class="complete" *ngIf="node.data.complete" ><span>{{node.displayField}}</span></div>
                </div>
                <!-- !node.data.no || node.data.flags.no_checked -->
                <small class="notes" *ngIf="node.data.no || node.data.flags.no_checked">
                    <input class="content" [id]="node.data.id" type="text" [(ngModel)]="node.data.no" (keydown)="onKey($event,node)" (change)="onEdit($event,node,'no')">
                </small>
            </div>
        </ng-template>
    </Tree>
</ng-container>

<!-- <div class="node-home">
    <div class="arrow-right"></div>
    <div class="wrap-with-arrow">
        <div class="project m-left-10">
            <input type="text" [(ngModel)]="title" (change)="onInsert()" on-contextmenu="onEvent($event)">
        </div>
    </div>
</div> -->