.project {
  width: 100%;
  input[type="text"] {
    width: 100%;
    border: none;
    &::after {
      border: none;
    }
    &:focus {
      border: none !important;
      outline: none !important;
      background-color: #e8e8e8;
    }
  }
  &-line {
    .circle {
      float: left;
      position: absolute;
      background-color: silver;
      border-radius: 50%;
      height: 7px;
      width: 7px;
      margin-top: 10px;
      &:hover {
        background-color: black;
      }
      // & > .options {
      //   visibility: hidden;
      // }
      // &:hover > .options {
      //   visibility: visible;
      // }
      // &:hover .options{
      //   background-color: black;
      //   display: block;
      //   transition: 5s

      // }
      .options {
        border: 1px solid silver;
        width: 100px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
        border-radius: 3%;
        background-color: #ecebeb;
        position: absolute;
        z-index: 100;
        transition: .5s;
        &-line {
          width: 100%;
          height: 1px;
          background-color: silver;
        }
        small {
          &:hover {
            color : blue;
          }
        }
      }
    };
    input {
      float: left;
      padding-left: 13px;
    }
     &:hover .circle{
      display: block;
    }
  }
  small {
    input {
      padding-left: 15px;
    }
  }
  .complete {
    border-top: 1px solid black;
    margin-top: 14px;
    position: absolute;
    margin-left: 15px;
    span{
      opacity: 0;
    }
  }
}
.arrow-right {
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 9px solid green;
  margin-top: 10px;
  float:left;
}
.m-left-10 {
    margin-left: 10px;
}
.wrap-with-arrow {
    width: 98%;
    float: left;
}
.node-home {
    padding-left: 1px;
}
.content {
  font-size: 12px;
}