.main {
    width: 60%;
    height: 100%;
    border : 1px solid silver;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    &-content {
        width: 80%;
        height: 80%;
        margin: 3% 10% 10% 5%;
    }
}
